<header>
    <div class="continer">
        <div class="navbar">
            <h3 class="logo">Roqia</h3>

            <nav>
                <i class="fas fa-bars toggle-menue"></i>
                <ul id="dropmenue">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </nav>
            <i class="fas fa-moon" id="moon" onclick="myFunction()"></i>
            <!-- <button onclick="myFunction()">dark mode</button> -->
        </div>
    </div>
</header>