<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>

<body>
    <!-- nav -->
    <%- include('../partials/header.ejs'); %>
    <!-- home -->

    <section id="home" class="bk" class="section-hight">
        <div class="continer">
            <div class="sec">
                <div class="col-2">
                    <div class="rimg">
                        <img src="images/photo.jpg" alt="roqia">
                    </div>
                </div>
                <div class="col-2">
                    <div class="rname">
                        <h2>Ruqaiah Saif</h2>
                        <h3>Wep Devloper </h3>
                        <p>I'm a full-stack developer specialised in frontend and backend development for complex
                            scalable
                            web
                            apps.
                        </p>
                        <!--some sthing-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us -->
    <section id="about" class="section-hight">
        <div class="continer">
            <h1 class="hd">About us</h1>
            <section class="sec1">
                <div class="col-2">
                    <div class="myskill">
                        <p>skils</p>

                        <h4>HTML</h4>
                        <div class="progress">
                            <div class="progress__bar" style="width:80%"></div>
                        </div>


                        <h4>CSS</h4>
                        <div class="progress">
                            <div class="progress__bar" style="width:80%"></div>
                        </div>


                        <h4>JS</h4>
                        <div class="progress">
                            <div class="progress__bar" style="width:60%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="con">
                        <div class="myskill">
                            <p>Experinces</p>
                            <div class="ex">
                                <div><i class="fas fa-caret-right"></i>I work as Freelancer</div>
                                <div><i class="fas fa-caret-right"></i>I work as Web Devloper </div>
                                <div><i class="fas fa-caret-right"></i>I work as App Devloper</div>

                            </div>

                        </div>
                    </div>
                </div>

            </section>
        </div>
    </section>
    <!-- Services -->
    <section id="services" class="section-hight1">
        <div class="continer">

            <h1 class="hd">services</h1>

            <div class="services-content">

                <div class="d1">

                    <i class="fab fa-android"></i>
                    <h1>App Devloper </h1>

                </div>
                <div class="d1">

                    <i class="fas fa-laptop-code"></i>

                    <h1>Web Devloper</h1>

                </div>
                <div class="d1 ">
                    <i class="fas fa-desktop fa-x3"></i>

                    <h1>Web Design</h1>

                </div>
            </div>
        </div>
    </section>
    <section id="services" class="section-hight">
        <div class="continer">
            <h1 class="hd">
                Previous Work
            </h1>
            <div class="services-content">
                <div class="d2">
                    <div class="img-con">
                        <img src="images/img1.JPG" onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" alt="" style="height:300px;">
                    </div>
                </div>
                <div class="d2">
                    <div class="img-con">
                        <img src="images/img2.JPG" onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this)" alt="">
                    </div>
                </div>
                <div class="d2">
                    <div class="img-con">
                        <img src="images/img3.JPG" onmouseover="OnMouseIn (this)" onmouseout="OnMouseOut (this) "
                            alt="">
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- contact us -->
    <section id="contact">
        <div class="continer">
            <div class="sec">
                <div class="contact bk">
                    <h1 class="hd">
                        contact us
                    </h1>
                    <form action="action_page.php" class="form-contact">

                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="Your name..">
                        <span id="erorr" style="color: red;"></span><br>
                        <label for="lname">Email</label>
                        <input type="text" id="email" name="youremail" placeholder="Your email..">
                        <span id="emailerorr" style="color: red;"></span><br>
                        <label for="subject">Your Massage</label>
                        <textarea id="msg" name="subject" placeholder="Write something.."
                            style="height:200px"></textarea>
                        <p id="msgErorr" style="color: red;"></p>

                        <input type="button" id="send" value="Send">

                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="continer">

        <div class="social">
            <!-- Add font awesome icons -->
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <!-- <a href="#" class="fa fa-google"></a> -->
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-github"></i>
        </div>
    </div>



    <!-- Footer -->
    <%- include('../partials/footer.ejs'); %>
    <script>
        function myFunction() {
            var element = document.body;
            element.classList.toggle("dark-mode");
            var moon = document.getElementById("moon");
            moon.classList.toggle("fa-sun");
        }
        let tmenu = document.querySelector(".toggle-menue");
        let tdropmenue = document.getElementById("dropmenue");
        tmenu.addEventListener('click', () => {
            if (tdropmenue.style.display === "none") {
                tdropmenue.style.display = "flex";
            }
            else {
                tdropmenue.style.display = "none";
            }

        });
        // Get the value of the input field with id="numb"
        let sendBtn = document.getElementById("send");
        let username = document.getElementById("fname");
        let usemail = document.getElementById("email");
        let umsg = document.getElementById("msg");

        // If x is Not a Number or less than one or greater than 10
        sendBtn.addEventListener('click', (e) => {
            e.preventDefault();
            if (username.value == "") {
                document.getElementById("erorr").innerHTML = "Please Enter your name";

            }
            var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (!usemail.value.match(mailformat)) {
                document.getElementById("emailerorr").innerHTML = "You have entered an invalid email address!";

            }

            if (umsg.value.length < 20) {
                document.getElementById("msgErorr").innerHTML = "at less 20 letter";

            }

            else {
                return false;
            }
        });


        function OnMouseIn(elem) {
            elem.style.width = "320px";
            elem.style.hight = "320px";
            elem.style.opacity = 1;
        }
        function OnMouseOut(elem) {
            elem.style.width = "300px";
            elem.style.hight = "300px";
            elem.style.opacity = 0.7;
        }

    </script>
</body>

</html>